@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Pacifico&family=Rubik&family=Ubuntu+Mono&display=swap');

:root {
  scroll-behavior: smooth;
  --main-gradient: linear-gradient(
    130deg,
    rgb(36, 198, 220),
    rgb(84, 51, 255) 41.07%,
    rgb(255, 0, 153) 76.05%
  );

  --background-primary: #1a1a1a;
  --background-primary-alt: #0d0b12;
  --background-secondary: #212121;
  --background-secondary-alt: #18181a;
  --background-trans: rgba(255, 255, 255, 0.15);
  --skeleton-bg: #2e2e2e;
  --skeleton-hl: #363636;
  --text-bright: #fff;
  --text-normal: #bebebe;
  --text-accent: #0fb6d6;
  --text-sub-accent: #f4569d;
  --text-dim: #6d6d6d;
  --text-faint: #7aa2f7;
  --text-title-h1: var(--text-accent);
  --text-title-h2: #cbdbe5;
  --text-title-h3: #cbdbe5;
  --text-title-h4: #cbdbe5;
  --text-title-h5: #cbdbe5;
  --text-link: #b4b4b4;
  --text-a: #6bcafb;
  --text-a-hover: #6bcafb;
  --bg-sub-accent-55: rgba(244, 86, 157, 0.55);
  --bg-accent-55: rgba(13, 185, 215, 0.55);
  --strong-gradient: linear-gradient(
    62deg,
    #87c2fd 0%,
    #dcb9fc 100%
  ) !important;
  --gradient-cover: linear-gradient(
    90deg,
    hsla(0, 0%, 13%, 0) 0,
    hsla(0, 0%, 13%, 0.013) 8.1%,
    hsla(0, 0%, 13%, 0.049) 15.5%,
    hsla(0, 0%, 13%, 0.104) 22.5%,
    hsla(0, 0%, 13%, 0.175) 29%,
    hsla(0, 0%, 13%, 0.259) 35.3%,
    hsla(0, 0%, 13%, 0.352) 41.2%,
    hsla(0, 0%, 13%, 0.45) 47.1%,
    hsla(0, 0%, 13%, 0.55) 52.9%,
    hsla(0, 0%, 13%, 0.648) 58.8%,
    hsla(0, 0%, 13%, 0.741) 64.7%,
    hsla(0, 0%, 13%, 0.825) 71%,
    hsla(0, 0%, 13%, 0.896) 77.5%,
    hsla(0, 0%, 13%, 0.951) 84.5%,
    hsla(00, 0%, 13%, 0.987) 91.9%,
    var(--background-secondary)
  );
  --article-cover: linear-gradient(
    180deg,
    hsla(0, 0%, 13%, 0) 0,
    hsla(0, 0%, 13%, 0.013) 8.1%,
    hsla(0, 0%, 13%, 0.049) 15.5%,
    hsla(0, 0%, 13%, 0.104) 22.5%,
    hsla(0, 0%, 13%, 0.175) 29%,
    hsla(0, 0%, 13%, 0.259) 35.3%,
    hsla(0, 0%, 13%, 0.352) 41.2%,
    hsla(0, 0%, 13%, 0.45) 47.1%,
    hsla(0, 0%, 13%, 0.55) 52.9%,
    hsla(0, 0%, 13%, 0.648) 58.8%,
    hsla(0, 0%, 13%, 0.741) 64.7%,
    hsla(0, 0%, 13%, 0.825) 71%,
    hsla(0, 0%, 13%, 0.896) 77.5%,
    hsla(0, 0%, 13%, 0.951) 84.5%,
    hsla(00, 0%, 13%, 0.987) 91.9%,
    var(--background-secondary)
  );
  --trans-ease: all 250ms ease;
  --accent-shadow: 0 20px 25px -5px rgba(11, 42, 59, 0.35),
    0 10px 10px -5px rgba(11, 42, 59, 0.14);
  --sub-accent-shadow: 0 20px 25px -5px rgba(53, 11, 59, 0.35),
    0 10px 10px -5px rgba(53, 11, 59, 0.14);
  --search-modal-key-gradient: linear-gradient(-225deg, #3f3e3e, #2c2c2c);
  --search-modal-key-shadow: inset 0 -2px 0 0 #363636, inset 0 0 1px 1px #2e2e2e,
    0 1px 2px 1px rgba(30, 35, 90, 0.4);

  --search-accent-color: #893cf5 !important;
  --search-text-color: #893cf5cc !important;
  --search-border-color: #eaecef !important;

  --search-item-text-color: #893cf5cc !important;
  --search-item-focus-bg-color: #f3f4f5 !important;

  --search-input-width: 8rem;
  --search-result-width: 20rem;
}

body,
html {
  font-family: 'Rubik', 'Noto Sans SC', sans-serif;
  background-color: var(--background-primary);
}

.search-box input {
  background-color: var(--background-primary) !important;
  border-color: var(--background-primary-alt) !important;
}

.suggestions {
  background: var(--background-secondary) !important;
}

.search-box .suggestions {
  background: var(--background-secondary) !important;
  width: var(--search-result-width);
  position: absolute;
  top: 2rem;
  right: 0;
  border: 1px solid var(--background-primary-alt) !important;
  border-radius: 6px;
  padding: 0.4rem;
  list-style-type: none;
}

.search-box .suggestion.focus {
  background-color: var(--background-primary) !important;
}

.search-box .suggestion.focus a {
  color: var(--search-accent-color);
}

.search-box .suggestion a {
  white-space: normal;
  color: var(--search-item-text-color);
}

.navbar {
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--background-primary-alt);
  .navbar-links-wrapper {
    background-color: var(--background-secondary);
  }
}

.home {
  .footer {
    position: relative;
    border-top: none;
    &:before {
      content: '';
      top: 0.5rem;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      height: 2px;
      width: 100%;
      background: var(--main-gradient);
      border-radius: 9999px;
      opacity: 0.5;
    }
  }
  .features {
    border-top: 1px solid var(--background-primary-alt);
  }
  .hero {
    .action-button {
      border: none;
      transition: 150ms all ease;
      &.primary {
        background: var(--main-gradient);
        &:hover {
          opacity: 0.5;
        }
      }
      &.secondary {
        color: var(--text-bright);
        background: var(--background-trans);
        &:hover {
          opacity: 0.5;
          background: var(--background-trans);
        }
      }
    }
    h1 {
      justify-content: center;
      &:after {
        width: 14rem;
      }
    }
  }
}

.dropdown-wrapper .nav-dropdown {
  background-color: var(--background-secondary);
  border-color: var(--background-primary-alt);
}

.sidebar {
  background-color: var(--background-secondary);
  border-color: var(--background-primary-alt);
}

.page-nav {
  .inner {
    position: relative;
    border-top: none;
    &:before {
      content: '';
      top: 0;
      position: absolute;
      height: 2px;
      width: 100%;
      background: var(--main-gradient);
      border-radius: 9999px;
      opacity: 0.5;
    }
  }
}

.theme-default-content:not(.custom) > h1,
.theme-default-content:not(.custom) > h2,
.theme-default-content:not(.custom) > h3,
.theme-default-content:not(.custom) > h4,
.theme-default-content:not(.custom) > h5,
.theme-default-content:not(.custom) > h6 {
  // margin-top: 1.75rem;
  // padding-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 1.75rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--text-bright);
  &:after {
    position: absolute;
    bottom: 0;
    height: 0.25rem;
    width: 6rem;
    border-radius: 9999px;
    content: '';
    background: var(--main-gradient);
  }
}

h1 {
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
  border: none;
}

h2 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  border: none;
}

h3 {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
}

h4 {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}

h5 {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
}

h6 {
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
}

hr {
  position: relative;
  display: block;
  border: none;
  height: 1px;
  padding: 2.5em 0;
}

hr::before {
  content: '§';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -44%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 0.25rem;
  color: var(--text-sub-accent);
  background-color: var(--background-primary);
  z-index: 10;
  border-radius: 60%;
}

hr::after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--main-gradient);
  height: 3px;
  width: 26%;
  border-radius: 9999px;
  opacity: 0.26;
  margin: 2.5em auto;
}

strong {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 0.1rem;
  color: #7aa2f7;
  background-color: #7aa2f7;
  background-image: var(--strong-gradient);
}

strong::selection {
  -webkit-text-fill-color: var(--text-faint);
}

th {
  border: 1px solid var(--background-primary-alt) !important;
}

td,
th {
  border: 1px solid var(--background-primary-alt) !important;
}

tr {
  border-top: 1px solid var(--background-primary-alt) !important;
}

tr:nth-child(2n) {
  background-color: var(--background-secondary);
}

.theme-default-content code {
  overflow-wrap: break-word;
  background-color: rgba(14, 210, 247, 0.05);
  word-wrap: break-word;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  color: rgba(14, 210, 247, 0.9) !important;
}

/* Remove blockquote left margin */
blockquote {
  margin-inline-start: 0;
}

.custom-container,
blockquote {
  position: relative;
  padding: 0.5rem 1rem 0.5rem 2rem;
  color: var(--text-normal);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 2rem 0 !important;
  margin-right: 0 !important;
  border-left: 3px rgba(14, 210, 247, 0.5) solid;
  border-top: transparent;
  border-bottom: transparent;
  border-right: transparent;
  background: linear-gradient(
    135deg,
    var(--background-secondary),
    var(--background-primary),
    var(--background-primary)
  );
}

.custom-container::before,
blockquote::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  height: 2px;
  width: 65%;
  background: linear-gradient(
    90deg,
    rgba(13, 185, 215, 0.5),
    var(--background-primary)
  );
}

.custom-container::after,
blockquote::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 2px;
  width: 25%;
  background: linear-gradient(
    90deg,
    rgba(13, 185, 215, 0.5),
    var(--background-primary)
  );
}

.custom-container.tip {
  .custom-container-title {
    color: rgba(31, 121, 255, 0.8);
  }
  border-left: 3px solid rgba(31, 121, 255, 0.5) !important;
}

.custom-container.tip::before {
  background: linear-gradient(
    90deg,
    rgba(31, 121, 255, 0.5),
    var(--background-primary)
  );
}

.custom-container.tip::after {
  background: linear-gradient(
    90deg,
    rgba(31, 121, 255, 0.5),
    var(--background-primary)
  );
}

.custom-container.warning {
  .custom-container-title {
    color: rgba(255, 251, 31, 0.8);
  }
  color: rgba(255, 251, 31, 0.45);
  border-left: 3px solid rgba(255, 251, 31, 0.5) !important;
}

.custom-container.warning::before {
  background: linear-gradient(
    90deg,
    rgba(255, 251, 31, 0.5),
    var(--background-primary)
  );
}

.custom-container.warning::after {
  background: linear-gradient(
    90deg,
    rgba(255, 251, 31, 0.5),
    var(--background-primary)
  );
}

.custom-container.danger {
  .custom-container-title {
    color: rgba(255, 65, 31, 0.8);
  }
  color: rgba(255, 65, 31, 0.45);
  border-left: 3px solid rgba(255, 251, 31, 0.5) !important;
}

.custom-container.danger::before {
  background: linear-gradient(
    90deg,
    rgba(255, 65, 31, 0.5),
    var(--background-primary)
  );
}

.custom-container.danger::after {
  background: linear-gradient(
    90deg,
    rgba(255, 65, 31, 0.5),
    var(--background-primary)
  );
}

p img {
  margin-right: 0.2rem;
}

.tag {
  display: inline-block;
  color: white;
  padding: 0 0.5rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.8rem;
}

.done-tag {
  background: linear-gradient(130deg, #43cea2, #36d1dc 41.07%, #5b86e5 76.05%);
}

.new-tag {
  background: linear-gradient(
    130deg,
    rgb(36, 198, 220),
    rgb(84, 51, 255) 41.07%,
    rgb(255, 0, 153) 76.05%
  );
}

.wip-tag {
  background: linear-gradient(130deg, #23074d, #cc5333 76.05%);
}

div[class*='language-'] {
  position: relative;
  background-color: var(--background-secondary);
  border-radius: 6px;
  code,
  pre {
    font-family: 'Ubuntu Mono', monospace !important;
    font-size: 1rem;
  }
}

div[class*='language-'].line-numbers-mode
  .highlight-lines
  .highlight-line::before {
  background-color: #151516;
  border-left: 3px solid var(--bg-accent-55);
}

div[class*='language-'].line-numbers-mode::after {
  background-color: var(--background-secondary);
}

div[class*='language-'] .highlight-lines .highlight-line {
  position: relative;
  background-color: var(--background-secondary-alt);
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background: var(--text-accent);
    opacity: 0.5;
  }
}

.code-group__nav {
  background-color: var(--background-secondary-alt);
}
